#banner {
    position: absolute;
    margin: 0;
    padding: 10px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#bannerImage {
    position: absolute;
    height: 200px
}

button {
    height: 30px;
    width: 40px;
}

.componentImage {
    display: block;
    padding: 10px;
}

h2, p, video {
    margin: 0;
    padding: 10px;
}

.inset {
    width: 80%;
    left: 10%;
    right: 10%;
}

figcaption {
    text-align: center;
}

main {
    position: absolute;
    padding-bottom: 100px;
}

.slideShowImage {
    display: block;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
}