#banner {
    top: 255px;
}

#bannerImage {
    top: 55px;
}

main {
    top: 300px;
}

menu {
    text-align: center;
}

nav {
    position: absolute;
    width: 80%;
    left: 10%;
    padding: 10px 0px 10px 0px;
}

nav li {
    float: left;
}

nav li a {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 5px 20px 0px 5px;
    width: 120px;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0px 0px 10px 0px;
   overflow: hidden;
}