#banner {
    background-color: #E0E0E0;
}

body {
    background-color: #FAFAFA;
}

#content {
    background-color: #FFFFFF;
}

nav {
    background-color: #E0E0E0;
}

nav li a {
    color: #000000;
}

nav li a:hover {
    color: #FFFFFF;
}