#banner {
    background-color: #000000;
    color: white;
}

body {
    background-color: #303030;
}

#content {
    background-color: #424242;
    color: white;
}

nav {
    background-color: #000000;
}

nav li a {
    color: white;
}

nav li a:hover {
    color: #424242;
}